// Windows Resource Script for application icon
// Usage on Windows:
// 1. Compile this file with: rc /fo icon.res icon.rc
// 2. Add -H:NativeLinkerOption=icon.res to GraalVM native-image buildArgs
IDI_ICON1 ICON "icon.ico"
